<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<nav id="menu">
		<ul>
			<li><a href="/CalculadoraEquacoes">Calculadora de Equações do Arthur</a></li>
			<li><a href="/CalculadoraEquacoes">Equações</a></li>
			<li><a href="/CalculadoraBasica">Operações Básicas</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
	</nav>
	<h1>
		Contato
	</h1>
	<p>
		Aqui estão as informações do site: <br>
		Editor e Diagramador: Arthur Aguiar Estigarribia <br>
		Endereço: Rua João Augusto dos Santos, 181, Bolaxa, Rio Grande, RS, Brasil, 96217-180 <br>
		Email: arthuraguiarestigarribia@hotmail.com <br>
	</p>
	<a href="http://blogdoarthuraguiar.blogspot.com/">Meu blog</a>
	<br>
	<br>
	<a href="/CalculadoraEquacoes">Voltar para a página inicial</a>
</body>
</html>