<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<h1>
		Calculadora de Equações do Arthur
	</h1>
	<h2>
		Equação do Primeiro Grau
	</h2>
	<p>
		Digite alguns numeros (inteiro ou decimal, positivo ou negativo) e selecione o tipo de equacao:
	</p>
	<form action = "/EquacaoPrimeiroGrau" method = "post">
		<p>
		Equacao na forma ax + b = 0
		</p>
		
		<p>
		Termo a:
		</p>
		<input type="text" name="PrimeiroNumero">
		<br>
		
		<p>
		Termo b:
		</p>
		<input type="text" name="SegundoNumero">
		<br>
		
		<input type="submit" value="Calcular">
	</form>
	
	<a href="/CalculadoraEquacoes">Voltar para a página inicial</a>
</body>
</html>