<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<nav id="menu">
		<ul>
			<li><a href="/CalculadoraEquacoes">Calculadora de Equações do Arthur</a></li>
			<li><a href="/CalculadoraEquacoes">Equações</a></li>
			<li><a href="/CalculadoraBasica">Operações Básicas</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
	</nav>
	<h1>
		Equação do Primeiro Grau
	</h1>
	<p>
		Digite alguns numeros (inteiro ou decimal, positivo ou negativo):
	</p>
	<form action = "/EquacaoPrimeiroGrau" method = "post">
		<p>
		Equacao na forma ax + b = 0
		</p>
		
		<p>
		Termo a:
		</p>
		<input type="number" name="PrimeiroNumero" autofocus required>
		<br>
		
		<p>
		Termo b:
		</p>
		<input type="number" name="SegundoNumero" required>
		<br>
		
		<input type="submit" value="Calcular">
	</form>
	
	<a href="/CalculadoraEquacoes">Voltar para a página inicial</a>
</body>
</html>