<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<nav id="menu">
		<ul>
			<li><a href="/CalculadoraEquacoes">Calculadora de Equações do Arthur</a></li>
			<li><a href="/CalculadoraEquacoes">Equações</a></li>
			<li><a href="/CalculadoraBasica">Operações Básicas</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
	</nav>
	<h1>
		Página Inicial
	</h1>
	<p>
		Selecione a calculadora:
	</p>
	<a href="/CalculadoraBasica">Calculadora Básica</a>
	<br>
	<a href="/EquacaoPrimeiroGrau">Equacao do Primeiro Grau</a>
	<br>
	<a href="/EquacaoSegundoGrau">Equacao do Segundo Grau</a>
	<br>
	<a href="/EquacaoBase">Equacao Base</a>
	<br>
	<a href="/Exponencial">Exponencial</a>
	<br>
	<a href="/Logaritmo">Logaritmo</a>
	<br>
	<a href="/RegraDeTres">Regra de Três</a>
	<br>
	<a href="/PitagorasCateto">Pitágoras - Cateto</a>
	<br>
	<a href="/PitagorasHipotenusa">Pitágoras - Hipotenusa</a>
	<br>
	<br>
	<p>
		Você tem um leitor de PDF? Então leia o seguinte arquivo gratuitamente!
	</p>
	<a href="/Fórmulas de Matemática e Física.pdf">Arquivo PDF com fórmulas de Matemática e Física</a>
</body>
</html>