<html>
	<title>
		Calculadora de Equacoes do Arthur
	</title>
	<h1>
		Calculadora de Equacoes do Arthur
	</h1>
	<p>
		Digite dois numeros positivos (inteiro ou decimal):
	</p>
	<form action = "/Logaritmo" method = "post">
		<p>
		Equacao na forma x = log_a (b)
		</p>
		
		<p>
		Termo a:
		</p>
		<input type="text" name="PrimeiroNumero">
		<br>
		
		<p>
		Termo b:
		</p>
		<input type="text" name="SegundoNumero">
		<br>
		
		<input type="submit" value="Calcular">
	</form>
	
	<p>
		Resultado: 
		<br>
		{{equacao}}
		<br>
		{{resultado}}
	</p>
	
	<a href="/index">Voltar</a>
</html>