<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<h1>
		Calculadora de Equações do Arthur
	</h1>
	<h2>
		Hipotenusa de Pitágoras
	</h2>
	<p>
		Digite alguns numeros positivos (inteiro ou decimal):
	</p>
	<form action = "/PitagorasHipotenusa" method = "post">
		<p>
		Equacao na forma x^2 = a^2 + b^2
		</p>
		
		<p>
		Termo a:
		</p>
		<input type="number" name="PrimeiroNumero">
		<br>
		
		<p>
		Termo b:
		</p>
		<input type="number" name="SegundoNumero">
		<br>
		
		<input type="submit" value="Calcular">
	</form>
	
	<a href="/index">Voltar</a>
</body>
</html>