<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<h1>
		Calculadora de Equações do Arthur
	</h1>
	<h2>
		Regra de Três
	</h2>
	<p>
		Digite apenas uma incognita num dos espacos e no restante numeros (inteiros ou decimais, positvos ou negativos):
	</p>
	<form action = "/RegraDeTres" method = "post">
		<p>
		Equacao na forma x/a = b/c
		</p>
		
		<p>
		Termo a:
		</p>
		<input type="number" name="PrimeiroNumero" required autofocus>
		<br>
		
		<p>
		Termo b:
		</p>
		<input type="number" name="SegundoNumero" required>
		<br>
		
		<p>
		Termo c:
		</p>
		<input type="number" name="TerceiroNumero" required>
		<br>
		
		<input type="submit" value="Calcular">
	</form>
	
	<a href="/CalculadoraEquacoes">Voltar para a página inicial</a>
</body>
</html>