<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Calculadora de Equações do Arthur</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<nav id="menu">
		<ul>
			<li><a href="/CalculadoraEquacoes">Calculadora de Equações do Arthur</a></li>
			<li><a href="/CalculadoraEquacoes">Equações</a></li>
			<li><a href="/CalculadoraBasica">Operações Básicas</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
	</nav>
	<h1>
		Resultado
	</h1>
	<p>
		{{soma}}
		<br>
		{{subtracao}}
		<br>
		{{multiplicacao}}
		<br>
		{{divisao}}
	</p>
	
	<a href="/CalculadoraEquacoes">Voltar para a página inicial</a>
</body>
</html>