.negrito {
	font-weight: bold;
}

label {
	display: block;
}

input:focus {
	border: 1px solid black;
}

h1 {
	font-family: Segoe UI Light;
	font-size: 16; 
	color: RGB(0, 150, 0);
}

h2 {
	font-family: Segoe UI Light;
	font-size: 16;
	color: RGB(0, 150, 0);
}

a {
	font-family: Segoe UI;
	font-size: 9;
	color: RGB(0, 150, 0);
}

p {
	font-family: Segoe UI;
	font-size: 9;
	color: RGB(0, 150, 0);
}

#menu ul {
	padding:0px;
	margin:0px;
	background-color: RGB(200, 200, 200);
	list-style:none;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 2px 10px;
	display: inline-block;
 
	/* visual do link */
	background-color: RGB(200, 200, 200);
	color: RGB(0, 150, 0);
	text-decoration: none;
}

#menu ul li a:hover{
	background: RGB(0, 150, 0); 
	color: RGB(255, 255, 255);
}